@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Manrope:wght@200;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }


  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 1px;
      height: 1px;
      border-radius: 1px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 10px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-t from-cyan-100 to-white text-foreground;
  }
}


/* common styles */

.custom_container {
  @apply flex flex-col flex-1 gap-5 justify-center items-center custom-scrollbar overflow-scroll bg-transparent lg:px-2 lg:mx-6 px-2 py-2
}

.custom_Homecontainer {
  @apply gap-5 h-full items-center mx-2 pt-2 px-2 
}

.custom_container3 {
  @apply flex flex-col flex-1 items-center bg-transparent px-2 mx-2 mb-32 md:mx-6 p-2 md:pb-10
}


.custom_container2 {
  @apply flex flex-col flex-1 items-center md:px-2
}

.default_Container {
  @apply flex flex-1 h-screen w-full
}

.Home_Container {
  @apply flex flex-1 justify-center items-center bg-gradient-to-t from-cyan-100 to-white h-fit md:p-2 w-full p-2 mb-5 md:mb-1 outline outline-1 outline-slate-200 rounded-xl
}

.largeTexts {
  @apply text-4xl text-white font-serif font-bold
}

/* mobile menu */
.MobileMenu {
  @apply flex flex-1 z-20 p-1 w-fit
}

.menubar {
  @apply grid grid-cols-3 pt-3 gap-2 justify-start items-start border-t border-cyan-700 fixed  
  w-full h-fit rounded-b-xl drop-shadow-lg p-3
  shadow-slate-500 outline-cyan-400 right-0 left-0 bg-gradient-to-t from-white via-cyan-200 to-white
 }

.links {
  @apply flex justify-center items-start w-fit h-fit
}

/* Navbar/sidebar */


.Linkme {
  @apply bg-gradient-to-tl from-sky-900 text-xs via-black to-cyan-600 text-white text-center rounded-md h-12 p-4
}


nav.scrolled {
  background-color: white;
  box-shadow: 3px 1.5px 3px slategrey;
  transition-duration: 2s;
}

.Linkme2 {
  @apply flex md:hidden bg-gradient-to-tl w-fit from-sky-900 text-xs via-black to-cyan-600 text-white text-center rounded-md h-12 p-4 mb-24
}

.outline_btn {
  @apply bg-transparent shadow shadow-slate-400 border border-cyan-300 font-serif font-medium text-slate-600 hover:bg-cyan-100 hover:text-black h-12 duration-1000
}
.link_side {
  @apply justify-center items-center bg-white
}
.social_icons {
  @apply text-white bg-slate-950 text-3xl p-2 rounded-md cursor-pointer hover:bg-gradient-to-l from-cyan-300 via-neutral-50 to-teal-100 hover:text-cyan-600 shadow-inner outline outline-2 outline-cyan-500 shadow-black duration-700
}
.tittl_name {
  @apply animate-typing overflow-hidden whitespace-nowrap border-r-4 border-r-white pr-5 text-white font-bold text-base md:text-2xl font-serif text-transparent bg-clip-text bg-gradient-to-l from-cyan-900 via-neutral-500 to-teal-900
}

.primary_text {
  @apply text-slate-600 text-sm md:text-lg font-serif text-start
}

.paragraph_text {
  @apply text-sm md:text-base font-serif text-start text-slate-600 mb-5
}

.titlle_text {
  @apply text-start text-xl font-serif text-slate-600
}
.form_inp {
  @apply focus-visible:outline-none shadow-inner shadow-slate-400 p-[25px] outline outline-2 outline-cyan-100 !important
}

.subs_btn {
  @apply outline outline-1 outline-cyan-300 text-center w-fit  text-slate-600 md:px-8 mt-10 shadow shadow-slate-400 hover:text-white hover:bg-black duration-700 bg-cyan-100
}

.submit {
  @apply outline outline-1 outline-cyan-100 text-center bg-white w-fit p-6 text-black rounded-xl shadow shadow-slate-500
}

.links_footer {
  @apply text-sm text-start w-full text-slate-600 font-serif hover:text-cyan-600 hover:translate-x-5 duration-300
}

.default_Contactcontainer {
  @apply flex flex-1 m-5 md:justify-center items-center
}

.welcome_text {
  @apply hidden font-serif lg:flex shadow rounded-md shadow-slate-300 h-fit p-2 md:text-base lg:text-2xl font-extrabold 
  text-transparent bg-clip-text bg-gradient-to-br from-cyan-300 via-black
}

.icon_pack {
  @apply text-3xl md:text-4xl text-white rounded-md outline outline-2 outline-cyan-100 shadow shadow-slate-900 p-1 bg-gradient-to-br from-cyan-300 to-black
}

.upload_container {
  @apply flex flex-col justify-center items-center
}

/* project upload page */

.project_Upload {
  @apply flex flex-1 flex-row justify-center items-center gap-5 mt-2
}

.text2 {
  @apply text-black font-serif text-lg font-semibold
}

.project_Uploader {
  @apply flex flex-1 justify-center items-center bg-gradient-to-t from-cyan-100 to-white md:mt-10 p-5 md:p-2 w-full mb-32 md:mb-10 mt-2 md:w-[50%] shadow shadow-slate-400 rounded-xl
}

.image_accordion-container {
  @apply flex flex-1 p-2 justify-center items-center w-fit h-fit
} 

.special-button {
  @apply hidden md:flex
}

.special-button2 {
  @apply flex md:hidden
}

.Formlablel {
  @apply text-base text-center font-serif
}

.file-container {
  @apply flex flex-1 w-full h-full justify-center items-center
}

.post_upload {
  @apply object-cover
}

.Uploader {
  @apply flex flex-col justify-center items-center
}

.form-message {
  @apply text-blue-400
}

.formMes {
  @apply h-36 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 !important;
}

/* Project page */

.project_container {
  @apply flex flex-1 justify-center items-center bg-gradient-to-t from-cyan-200 to-cyan-50 outline outline-2 outline-cyan-300 shadow-md h-full w-full shadow-slate-600 rounded-br-2xl rounded-tl-2xl duration-700
}

.primary-projecttext {
  @apply box-border min-h-[60px] text-sm md:text-[12px] font-bold font-sans text-transparent bg-clip-text bg-gradient-to-l from-cyan-900 via-neutral-700 to-teal-900
}

.project_paragraph {
  @apply flex flex-col justify-between gap-2 box-border md:min-h-[150px] text-sm md:text-sm font-serif text-black p-2 my-1 rounded-tl-2xl rounded-br-2xl shadow-inner shadow-cyan-600 bg-gradient-to-br from-cyan-300 to-slate-400 outline outline-2 outline-cyan-200
}

.custom_button {
  @apply w-fit bg-gradient-to-br from-cyan-200 to-black outline outline-2 outline-cyan-300 shadow duration-1000 hover:shadow-2xl shadow-slate-500
}

/* Coming soon box */

.ComingSoon_box {
  @apply flex p-5 rounded-bl-2xl rounded-tr-2xl
}

/* Featured */

.Featuredcontainer {
  @apply flex flex-row justify-start relative items-center gap-5 rounded-bl-3xl rounded-tr-3xl shadow-slate-300 shadow-sm w-full h-24 p-2 md:p-5 
  bg-gradient-to-br from-cyan-300 to-slate-400 cursor-pointer
}

.featuredText {
  @apply text-sm md:text-base text-start font-serif font-normal text-white
}

.main_ft {
  @apply flex flex-1 p-2 rounded-md
}

/* CV */

.text_prim {
  @apply shadow-sm shadow-slate-400 outline outline-1 outline-white p-5 my-3 rounded-bl-3xl rounded-tr-3xl text-center text-xl md:text-5xl font-extrabold text-transparent bg-clip-text bg-gradient-to-l from-sky-900 via-cyan-300 to-violet-900
}

.text_sec {
  @apply text-center text-xl font-serif font-semibold text-white
}

.text_title {
  @apply text-lg md:text-2xl mb-5 font-bold font-sans border-b-2 border-black text-transparent bg-clip-text bg-gradient-to-l from-blue-700 via-black to-cyan-800
}

.text-li {
  @apply text-start font-bold text-lg
}