@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&family=Manrope:wght@200;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: light;
}

@layer base {
  :root {
    color-scheme: light;
    background-color: white;
    color: white;
  }


  @layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
      width: 1px;
      height: 1px;
      border-radius: 1px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 10px;
    }
  
    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
  }
}
 
@layer base {
  body {
    @apply bg-transparent text-current select-none selection:select-none
  }
}


/* common styles */

.custom_container {
  @apply flex flex-col flex-1 gap-5 justify-center items-center custom-scrollbar overflow-scroll bg-transparent lg:px-2 lg:mx-6 px-2 py-2
}

.custom_Homecontainer {
  @apply gap-5 h-full w-fit sm:w-full items-center pt-2 px-2 md:px-5
}

.custom_container3 {
  @apply flex flex-col flex-1 items-center bg-transparent px-2 mx-2 mb-32 md:mx-6 p-2 md:pb-10 animate-in slide-in-from-bottom-10 duration-500
}


.custom_container2 {
  @apply flex flex-col flex-1 items-center md:px-2
}

.default_Container {
  @apply flex flex-col justify-center items-center h-full w-auto
}

.Home_Container {
  @apply flex flex-1 justify-center items-center p-3 h-fit w-full bg-cyan-950 bg-opacity-10 rounded-md outline outline-1 outline-slate-200
}

.largeTexts {
  @apply text-4xl text-black font-serif font-bold
}

.logo-text {
  @apply text-center text-base md:text-lg font-extrabold font-serif text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 via-slate-900 to-cyan-500
}

/* mobile menu */
.MobileMenu {
  @apply flex z-20 p-1 w-fit
}

.menubar {
  @apply flex flex-col pt-2 gap-2 justify-end items-end fixed  
  w-fit h-fit rounded-bl-xl p-2 outline-cyan-50 right-0 bg-cyan-950 backdrop-blur-2xl bg-opacity-60 shadow-2xl
 }

.links {
  @apply flex justify-center items-start w-fit h-fit
}

/* Navbar/sidebar */


.Linkme {
  @apply bg-gradient-to-tl from-sky-900 text-sm via-black to-cyan-600 text-white outline outline-1 outline-white justify-evenly rounded-md px-5 p-2 text-justify
}


nav.scrolled {
  transition-duration: 1s;
  box-shadow: 5px 2px 5px rgb(190, 190, 190);
}

.Linkme2 {
  @apply flex md:hidden bg-gradient-to-tl w-fit from-sky-900 text-xs via-black outline outline-1 outline-white to-cyan-600 text-white text-center rounded-md h-12 p-4
}

.Linkme3 {
  @apply flex bg-gradient-to-tl w-fit from-sky-900 text-xs via-black outline outline-1 outline-white to-cyan-600 text-white text-center rounded-md h-9 p-2
}


.outline_btn {
  @apply bg-transparent shadow shadow-slate-400 border border-cyan-300 font-serif font-medium text-white hover:bg-cyan-100 hover:text-black h-12 duration-1000
}
.link_side {
  @apply justify-center items-center bg-white rounded-md
}
.social_icons {
  @apply text-2xl p-[3px] rounded-md cursor-pointer outline outline-2 outline-slate-500 text-slate-500 hover:scale-105 duration-1000
}
.tittl_name {
  @apply -rotate-90 md:rotate-0 text-shadow animate-typing overflow-hidden whitespace-nowrap pr-5 font-bold text-base md:text-xl font-mono text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 via-black to-cyan-950
}

.primary_text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-cyan-800 via-black to-cyan-950 text-base md:text-lg font-sans font-light md:font-normal text-start
}

.paragraph_text {
  @apply text-xs box-border md:text-sm font-serif w-fit sm:w-fit md:w-full bg-clip-text text-transparent bg-gradient-to-l from-blue-800 via-black to-cyan-700 text-start font-light md:font-normal
}

.titlle_text {
  @apply text-start text-xl font-serif text-black
}
.form_inp {
  @apply focus-visible:outline-none shadow-inner shadow-slate-100 bg-white p-[25px] outline outline-1 outline-cyan-100 !important
}

.subs_btn {
  @apply outline outline-1 outline-cyan-300 text-center w-fit text-slate-600 md:px-8 mt-10 shadow shadow-slate-400 hover:text-white hover:bg-black duration-700 bg-cyan-100
}

.submit {
  @apply outline outline-1 outline-cyan-100 text-center bg-white w-fit p-6 text-black rounded-xl shadow shadow-slate-500
}

.links_footer {
  @apply text-sm text-start w-full text-slate-500 font-serif hover:text-cyan-600 hover:translate-x-5 duration-300
}

.links_footer2 {
  @apply text-sm text-start w-full text-slate-500 font-serif hover:text-cyan-600 hover:scale-95 cursor-context-menu duration-300
}

.default_Contactcontainer {
  @apply flex flex-1 m-5 md:justify-center items-center
}

.welcome_text {
  @apply hidden font-serif lg:flex shadow rounded-md shadow-slate-300 border border-slate-200 h-fit p-2 md:text-base lg:text-2xl font-extrabold 
  text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 via-black to-cyan-950
}

.icon_pack {
  @apply text-3xl md:text-4xl text-white rounded-md outline outline-2 outline-cyan-100 shadow shadow-slate-900 p-1 bg-gradient-to-t from-cyan-300 via-cyan-950 to-white
}

.upload_container {
  @apply flex flex-col justify-center items-center
}

/* project upload page */

.project_Upload {
  @apply flex flex-1 flex-row justify-center items-center gap-5 mt-2
}

.text2 {
  @apply text-black font-serif text-sm md:text-lg font-semibold
}

.project_Uploader {
  @apply flex flex-1 justify-center items-center outline outline-1 outline-white bg-cyan-950 bg-opacity-10 md:mt-10 p-5 md:p-2 w-full mb-32 md:mb-10 mt-2 md:w-[50%] rounded-xl
}

.image_accordion-container {
  @apply flex flex-1 p-2 justify-center items-center w-fit h-fit
} 

.special-button {
  @apply hidden md:flex
}

.special-button2 {
  @apply flex md:hidden
}

.Formlablel {
  @apply text-base text-center font-serif text-white
}

.file-container {
  @apply flex flex-1 w-full h-full justify-center items-center
}

.post_upload {
  @apply object-cover
}

.Uploader {
  @apply flex flex-col justify-center items-center
}

.form-message {
  @apply text-blue-400
}

.formMes {
  @apply h-36 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 !important;
}

/* Project page */

.project_container {
  @apply flex flex-1 justify-center items-center bg-cyan-950 bg-opacity-10 backdrop-blur-lg outline outline-1 outline-cyan-200 shadow-md h-full w-full shadow-slate-400 rounded-br-2xl rounded-tl-2xl duration-700
}

.primary-projecttext {
  @apply box-border min-h-[40px] text-xs md:text-sm md:text-[12px] font-bold font-sans text-transparent bg-clip-text bg-gradient-to-l text-ellipsis overflow-hidden from-cyan-900 via-neutral-700 to-teal-900
}

.project_paragraph {
  @apply flex flex-col justify-between gap-2 box-border sm:min-h-[180px] mb-5 md:mb-0 text-sm md:text-sm font-serif text-slate-800 p-2 my-1 rounded-tl-2xl rounded-br-2xl bg-cyan-950 bg-opacity-10 outline outline-1 outline-cyan-200
}

/* Buttons */

.custom_button {
  @apply w-fit bg-gradient-to-br from-black to-teal-500 text-sm text-center text-white outline outline-2 outline-white shadow hover:shadow-2xl shadow-slate-500
}

.Signup_button {
  @apply w-fit text-xs font-mono bg-teal-800 h-fit
}


/* Coming soon box */

.ComingSoon_box {
  @apply flex p-5 rounded-bl-2xl rounded-tr-2xl
}

/* Featured */

.Featuredcontainer {
  @apply flex flex-row justify-start relative items-center gap-5 rounded-bl-3xl rounded-tr-3xl shadow-slate-300 shadow-sm w-full h-24 p-2 md:p-5 
  bg-gradient-to-br from-cyan-300 to-slate-400 cursor-pointer
}

.featuredText {
  @apply text-sm md:text-base text-start font-serif font-normal text-white
}

.main_ft {
  @apply flex flex-1 p-2 rounded-md
}

/* CV */

.text_prim {
  @apply shadow-sm shadow-slate-400 outline outline-1 outline-white mx-10 p-2 my-2 rounded-bl-3xl rounded-tr-3xl text-center text-xl md:text-4xl font-extrabold text-transparent bg-clip-text bg-gradient-to-l from-sky-900 via-slate-800 to-cyan-500
}

.text_sec {
  @apply text-center text-base md:text-xl font-serif font-semibold text-slate-500
}

.text_title {
  @apply text-base md:text-xl mb-5 font-bold font-mono border-b-2 border-white text-transparent text-center bg-clip-text bg-gradient-to-l from-blue-700 via-black to-cyan-800
}

.text_title2 {
  @apply text-base rounded-full font-bold font-sans border-2 p-2 border-slate-100 text-transparent bg-clip-text bg-gradient-to-l from-blue-700 via-black to-cyan-800
}

.text_title3 {
  @apply text-base mb-5 font-bold font-sans border-b-2 border-white text-transparent text-center bg-clip-text bg-gradient-to-l from-blue-700 via-black to-cyan-800
}

.text-li {
  @apply text-start font-bold text-lg
}

/* Experience section styles */

.experience-container {
  @apply flex flex-col md:flex-row justify-center items-center
}

.product_cooursel {
  @apply grid grid-cols-1 md:grid-cols-1 justify-center items-center md:gap-5 overflow-scroll custom-scrollbar
}

/* BRANDS STYLESS */

.icon_pack2 {
  @apply inline-block md:h-10 md:w-10 w-8 h-8 fill-current text-white bg-black rounded-lg p-1 outline-1 outline outline-cyan-300 shadow-md shadow-slate-300
}

.text_project {
  @apply text-gray-500 text-xs italic mb-6
}

/* AUTH LAYOUT STYLES */

/* Forms */

.inputBox {
  @apply bg-white text-start text-gray-600 focus-visible:outline-none w-full outline outline-1 outline-slate-400
}

.form_item {
  @apply w-full h-fit
}

.headText {
  @apply text-sm md:text-xl text-center mb-5 font-bold font-mono text-transparent placeholder:text-xs bg-clip-text bg-gradient-to-l from-blue-700 via-black to-cyan-800
}

.login-text {
  @apply text-teal-700 font-bold no-underline text-shadow
}

/* Hire request */

.hireBox {
  @apply flex flex-col justify-center items-center bg-cyan-950 bg-opacity-20 rounded-bl-3xl rounded-tr-3xl w-full shadow-sm shadow-cyan-600
}

.container {
  @apply bg-white absolute bg-opacity-70 backdrop-blur-lg p-5 shadow-md shadow-cyan-700 flex justify-center items-center rounded-tr-xl outline outline-1 outline-slate-100 right-0 left-0 h-full top-0 z-40 w-full animate-in fade-in-40 ease-in duration-500
}

.inputBox2 {
  @apply bg-white text-sm text-black p-2 w-56 shadow-inner placeholder:text-xs placeholder:text-gray-400
}

.inputBox3 {
  @apply bg-white p-2 text-cyan-950 w-56 h-20 shadow-inner placeholder:text-xs placeholder:text-gray-400
}

.text-shadow {
  text-shadow: 1px 0px 0.1px slategrey;
}

.text-shadow2 {
  text-shadow: 1px 0px 0.1px teal;
}

.font-family {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* featured project sections */

.featured-cont {
  @apply flex flex-1 justify-center items-center relative w-full h-full bg-cyan-950 bg-opacity-10 p-3 shadow-sm shadow-cyan-600 rounded-md outline outline-1 outline-white
}

.slideleft {
  @apply text-4xl text-white cursor-pointer
}


/* Welcome section Fix on Mac */


.MainWel-Box {
  @apply flex m-2 p-1 rounded-md outline outline-1 outline-slate-300 !important
}

.main-list {
  @apply flex h-fit w-fit justify-center items-center
}


.list-Cont {
  @apply flex flex-col md:flex-row w-fit gap-5 md:gap-0 md:p-5 overflow-hidden !important
}

.Homepage-Image {
  @apply md:hidden object-cover h-full m-1 rounded-e-full justify-end rounded-t-full bg-transparent outline outline-2 outline-slate-300 overflow-hidden animate-in slide-in-from-bottom-28 duration-1000 !important
}


.Div-1 {
  @apply flex flex-row justify-center items-center mt-5 w-fit animate-in slide-in-from-bottom-20 duration-700 m-1 !important
}

.line-style {
  @apply flex w-14 justify-center bg-slate-400 h-[2px] !important
}

.Rounde-style {
  @apply flex w-[20px] justify-center rounded-full bg-transparent outline outline-2 outline-slate-400 shadow-inner shadow-black h-[20px] p-3 animate-spin !important
}

.Link-ref {
  @apply p-1 bg-black mt-5 rounded-lg text-white w-fit font-serif flex !important
}


/* Style fix Home service section */

.MainServiceBox {
  @apply flex flex-col justify-center items-center my-5 !important
}

.primary-Box {
  @apply flex flex-col md:flex-row justify-center items-center md:gap-5 mb-5 !important
}

.Styling-Div {
  @apply bg-cyan-600 w-[1.5px] h-11 rounded-t-full !important
}

.serviceBox {
  @apply flex flex-col justify-center h-fit w-full items-center p-5 !important
}

.BoxText {
  @apply text_title3 text-shadow
}

.MainBox {
  @apply flex flex-1 justify-center items-center h-screen
}

.Box-listify {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 justify-center items-center w-full h-full
}

.Icon-Down {
  @apply text-4xl text-slate-600 backdrop-blur-2xl filter mb-3 animate-pulse
}

.Line-Down {
  @apply bg-cyan-600 w-[1.5px] h-11 rounded-t-full 
}

.ServiceContainer {
  @apply flex flex-col justify-center gap-2 h-fit w-full bg-white relative outline-2 outline outline-slate-100 p-2 rounded-tr-3xl shadow-sm shadow-black hover:shadow-md hover:shadow-slate-600 duration-1000 !important
}

.Image-Cont {
  @apply flex flex-1 justify-center items-center h-fit w-auto rounded-tr-3xl overflow-hidden rounded-bl-3xl outline outline-2 outline-slate-300 !important
}

.ImageUrl-sty {
  @apply flex flex-grow hover:filter hover:grayscale duration-500 cursor-pointer hover:scale-105 w-auto min-h-[10rem] sm:min-h-[12rem] md:min-h-[14rem] lg:min-h-[15rem] rounded-tr-3xl overflow-hidden rounded-bl-3xl !important
}

.Descript_text {
  @apply box-border min-h-[150px] sm:min-h-[150px] md:min-h-[170px] lg:min-h-[160px] text-sm font-serif font-thin text-black p-2 m-2 border-t border-slate-100 border-l rounded-tl-xl !important
}

.MDclose {
  @apply flex absolute justify-end text-end right-0 top-0 text-red-500 text-3xl bg-cyan-950 bg-opacity-40 rounded-bl-xl rounded-tr-xl cursor-pointer !important
}

.Button_sect {
  @apply flex flex-row justify-start items-center !important
}

.Div_form {
  @apply flex flex-col justify-start items-center md:justify-center md:items-center md:gap-3 space-y-3 w-full py-10 !important
}

.Checkbox_Div {
  @apply flex flex-row justify-start items-start gap-2 !important
}

.CheckBox {
  @apply text-green-400 outline-2 outline outline-slate-100 border-transparent !important
}

.Selection {
  @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70 text-white !important
}

/* Footer Css fixes */



/* BannerCont styles */

.BannerCont {
  @apply hidden md:flex flex-row justify-center items-center gap-5 w-full h-fit mt-5
}

.BannerImage {
  @apply object-contain selection:bg-none md:h-32 lg:h-52 scale-90 md:scale-95 hover:scale-105 duration-500 w-fit rounded-2xl shadow-2xl shadow-teal-500 cursor-pointer
}

.MobileBanner {
  @apply flex md:hidden flex-row w-full h-full justify-start items-center overflow-x-scroll p-5 overscroll-x-auto overflow-scroll
}